html {
    font-size: 10px;
    font-family: Roboto, sans-serif;
    background-color: rgba(0, 0, 0, 0.13);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sketch-panel {
    display: flex;
    flex: auto;
    width: 75vh;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.row {
    display: flex;
}

.grid-square {
    width: 20%;
    padding-bottom: 20%;
    background: greenyellow;
    border:  2px solid black;
}